---
import Badge from "@/components/Badge.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedinIcon from "@/components/icons/Linkedin.astro";
---
<Layout
    tittle="Design System portfolio.dev"
    description="El catálogo de componentes de nuestro portfolio"
    >

    <SectionContainer class="py-44 pb-32 flex flex-col gap-y-10">
        <article>
            <h1 class="mb-4 text-xl font-semibold">&lt;Badge /&gt;</h1>
            <Badge>Disponible para trabajar</Badge>
        </article>
        <article>
            <h1 class="mb-4 text-xl font-semibold">&lt;SocialPill /&gt;</h1>
            <div class="flex">
                <SocialPill href="https://www.linkedin.com/in/julianslanderas/">
                    <LinkedinIcon class="size-4 md:w-6 h-6" />
                    LinkedIn
                </SocialPill>
            </div>
            
        </article>
        
    </SectionContainer>

    

    
</Layout>