---
const personalImageAlt = "Julians Landeras"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div 
        class="[&>p]:mb-z [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Julians Landeras Pinedo. Ingeniero de Sistemas con experiencia más de 2 años en desarrollo de software y más de 5 años en gestión pública.
            <strong>Soy autodidacta, con sólidas habilidades de trabajo en equipo, liderazgo y comunicación.</strong>
        </p> <br>
        <p>
            Algunas de mis experiencias como programador incluyen.
            Desarrollar un <strong>sistema web de administración tributaria </strong> para la municipalidad distrital de coishco que incluye módulos de caja, fiscalización de
            predios y tributos. 
            Un <strong>aplicativo móvil en kotlin con una red neuronal convolucional en python</strong> para la valoración de riesgo de depresión mediante la voz.
            Administración de infraestructura de <strong>red segmentada y gestión servidor proxy.</strong>
        </p>

        <p><br>
            Mis experiencias destacadas en gestión publica incluyen la implementación del proyecto de <strong>Gobierno y Transformación Digital.</strong>
            Además de liderar la gestión operativa del área de la <strong>Sub Gerencia de Tecnología, Comunicaciones e Informatica.</strong>
        </p>

    </div>

    <img width="200" height="200" src="./public/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>